spring:
  application:
    name: catalog-service
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5433/catalog_db
    username: catalog_user
    password: catalog_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 50
  flyway:
    enabled: true
    locations: classpath:db/migration
server:
  port: 8081
management:
  endpoints:
    web:
      exposure:
        include: health,info