# Default values for catalog-service
replicaCount: 2
image:
  repository: catalog-service
  pullPolicy: IfNotPresent
  tag: "latest"
namespace: platform-core
springProfile: kubernetes
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "8080"
  prometheus.io/path: "/actuator/prometheus"
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  fsGroup: 1000
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
service:
  type: ClusterIP
  port: 8080
  targetPort: 8080
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: api.ecommerce.local
      paths:
        - path: /api/catalog(/|$)(.*)
          pathType: ImplementationSpecific
  tls: []
resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3
database:
  host: postgres-service.platform-infra.svc.cluster.local
  port: 5432
  name: catalogdb
  user: postgres
redis:
  host: redis-service.platform-infra.svc.cluster.local
  port: 6379
elasticsearch:
  host: elasticsearch-service.platform-infra.svc.cluster.local
  port: 9200
kafka:
  bootstrapServers: kafka-service.platform-infra.svc.cluster.local:9092
env:
  - name: SPRING_PROFILES_ACTIVE
    value: kubernetes
  - name: MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE
    value: health,info,metrics,prometheus
  - name: MANAGEMENT_TRACING_SAMPLING_PROBABILITY
    value: "1.0"
nodeSelector: {}
tolerations: []
affinity: {}
